<section class="light">
    <div class="container py-5 mt-5">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">Apply </div>
  
      <!-- <article class="postcard light blue" *ngFor="let t of elements">
        <a class="postcard__img_link">
          <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" /> -->
          <!-- <img class="postcard__img" src="{{t.image}}" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a>{{t.jobname}}</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00"> 
              <i class="fas fa-calendar-alt mr-2"></i> {{t.time}}</time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt"> <b>Company:</b> {{t.company}}</div>
          <div class="postcard__preview-txt">Description: {{t.description}} Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi, fugiat
            asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium
            maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto
            quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div> <br>
          <div class="postcard__preview-txt"> <b>Location:</b> {{t.place}}</div>
          <div class="postcard__preview-txt"> <b>Pincode: </b> {{t.pincode}}</div>
          <div class="postcard__preview-txt"> <b>Number:</b> {{t.number}}</div>
  
          <ul class="postcard__tagbox">
            <li class="tag__item play blue"> -->
              <!-- <a (click)=" apply()"><i class="fas fa-play mr-2"></i> Apply</a> -->
            <!-- </li>
          </ul>
        </div>
      </article>-->
  
    </div>
  </section> 
  
  
  
  
  